// Font families


// Font sizes


// Base colors


// Main components colors
$azul:#5264AE;
$gris:#757575;
$white: #ffffff;
$greenLaoca: #6a7e8e;

// Responsive
// 667 iphone landscape. 768 ipad portrait
$mobile-portrait-width: 414px;
$mobile-landscape-width: 767px;
$mobile-landscape-iphone8: 667px;
$tablet-portrait-width: $mobile-landscape-width + 1;
$tablet-landscape-width: 1024px;

// Forms variables

